fastapi
uvicorn
python-dotenv
requests
cachetools
coloredlogs
tqdm
pydantic

# Librerías de Imagen/ML/Computación Pesada
rembg
opencv-python-headless
pillow
numpy
scipy
numba
llvmlite
onnxruntime
ImageIO
scikit-image
PyMatting

# Librerías de Google Gemini
google-generativeai

# Librerías de Supabase
supabase
postgrest
storage3
supabase-auth
supabase-functions
realtime